<div fxLayout="column" fxFlexFill fxLayoutAlign="stretch">
  <ex-help></ex-help>
  <ex-header></ex-header>

  <mat-drawer-container fxFlex fxLayoutAlign="start" autosize>
    <mat-drawer #drawer mode="side" opened="true">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <!-- <div>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->

    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>

  <ex-help></ex-help>
</div>
